DATABASE_PASSWORD=gathering1234

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# AES 암호화 키 (32바이트 base64 문자열)
SECRET_KEY_AES=your-aes-secret-key

# JWT 서명 키
JWT_SECRET_KEY=your-jwt-secret-key
